<% title "Servicios" %>
<div class="hero-unit">
<h1>Buscar Servicios</h1>
<br>
<center>
    <div>
    <form method="GET" action="/technical_services/search">
    Busqueda: <input type="text" name="value" placeholder="Cliente o Numero de servicio"> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Buscar", class="btn btn-info">
    </form>
    
    </div><br><br>
</center>
<table class="table table-striped">
  <tr>
    <th>Nº</th>
    <th>Cliente</th>
    <th>Nombre Producto</th>
    <th>Codigo Producto</th>
    <th>Estado</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
  </tr>
</table>