<% title "Ingresar Fechas" %>

<div class="hero-unit">

<h1>Reporte de Servicio tecnico</h1><br><br>
<center>
<form method="GET" action="/technical_services/search_between_dates">
Fecha Inicio: <input type="date" name="initial_date"> &nbsp;&nbsp;&nbsp;
Fecha Fin: <input type="date" name="ending_date"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar", class="btn btn-info">
</form>
</center>
</div>
</center>
