<%= form_validated_for(@productorder) do |f| %>
<CENTER>
  <p>
    <%= f.label :name, "Nombre del producto" %>
    <%= f.text_field :name, :maxlength => '20' %>
    </p>
  
  <p>
    <%= f.submit "Guardar Nombre de Producto", class: "btn btn-large btn-primary" %>
  </p>
<% end %>
</CENTER>