<% title "Reporte del Dia" %>
<h1><center>Reporte del día</center></h1>
<br>

<table class="table table-hover">
<% ventas = 0%>
<% compras = 0%>
<% totales = 0%>
  <thead>
  <tr> 
  </tr>
</thead>
<% @sales.each do |sale|%>

<% sale.productsales.each do |productsale| %>
  <tbody>
  <tr>
    <% productsale.price %>
    <% ventas = ventas + productsale.price %>
  </tr>
  
  </tbody>
<% end %>
<%end%>

<% @incomes.each do |income| %>
	<% number_with_precision(income.total_price, :precision => 2, :delimiter => ',') %>
	<% compras = compras + income.total_price %>
<%end%>


  <tr>
    <th>Total Ingresos (Ventas)</th>
    <th></th>    
    <td><%= number_with_precision(ventas, :precision =>2, :delimiter => ',') %> Bs.</td>     
  </tr>
  <tr>
  	<th>Total Egresos (Compras)</th>
    <th></th>    
    <td><%= number_with_precision(compras, :precision =>2, :delimiter => ',') %> Bs.</td>  
  </tr>
  <%totales = compras - ventas %>
  <%if(totales<0)%>
  	  <%totales = totales*(-1)%>
  <%end%>
  <tr>  	
  	<th>TOTAL</th>
    <th></th>    
    <td><%= number_with_precision(totales, :precision =>2, :delimiter => ',') %> Bs.</td>  
  </tr>
</table>