<center><% title "Editar" %></center>
<h1>Editar Cliente</h1>
<h2><%= @client.name%></h2>
		<%= render 'form' %>
<div align="left">
	<%= button_to 'Volver', clients_path, :method => :get, class: "btn btn-default"  %>
</div>

 
