<% title "Registrar Cliente" %>

<h1>Registrar Cliente</h1></br>
<%= render 'form' %>	

	<div align="left">
		<%= button_to 'Volver', clients_path, :method => :get, class: "btn btn-default"  %>
	</div>
