<% title @product.name %>
<CENTER><H1><%= @product.name %> </H1>

<p>
    <small>Codigo del producto:"</small><br>
    <%= @product.general_code %>
</p>

<p> 
	<small>Cantidad ingresesada:</small><br>
    <%= @product.quantity %>   
</p>

<%= button_to 'Volver', products_path, :method => :get, :class => 'btn btn-default' %><br>

  </CENTER>