<% title "Editar Nombre Producto" %>

<h1><%= @productname.name%></h1>

<%= render 'form' %>
<br>


<div align="left">
	<%= button_to 'Volver', productnames_path, :method => :get, class: "btn btn-default"  %>
</div>