<%= form_validated_for(@brand) do |f| %>
<CENTER>
  <p>
    <%= f.label :name, "Nombre de Marca" %>
    <%= f.text_field :name :maxlength => '20'%>
    </p>
  
  <p>
    <%= f.submit "Guardar Marca", class: "btn btn-large btn-primary" %>
  </p>
<% end %>
</CENTER>