<p id="notice"><%= notice %></p>
<CENTER>
<p>
  <b>Nombre:</b>
  <%= @brand.name %>
</p>

<%= link_to 'Editar', edit_brand_path(@brand), class: "btn btn-warning"  %>
<br><br>
</CENTER>
<div align="left">
	<%= button_to 'Volver', brands_path, :method => :get, class: "btn  btn-default"  %>
</div>