<p id="notice"><%= notice %></p>
<CENTER>
<p>
  <b>Nombre:</b>
  <%= @category.name %>
</p>

<%= link_to 'Editar', edit_category_path(@category), class: "btn btn-warning"  %>
<br><br>

</CENTER>
<div align="left">
	<%= button_to 'Volver', categories_path, :method => :get, class: "btn btn-default"  %>
</div>