<CENTER>
<h1>Editar Producto</h1>

<%=form_for (@product) do |f| %>
	
	<%= f.label :quantity , "Precio De Venta:" %>
	<%= f.text_field :quantity %><br>
	<%= f.submit "Aumentar Productos"%>

<%end%>
</CENTER>