<% title "Buscar Producto" %>
<h1>Producto con nombre <%=@name%></h1>
<%= render "products_controller/index" %>
<DIV Align=left>
<%= button_to 'Volver', products_path, :method => :get, :class => 'btn btn-default' %><br>
</DIV>
