
<% title @product.name %>
<CENTER>

<H1><%= @product.name %> </H1>

<%if @product.photo_file_name == nil%>
  <small >Fotografia Aun no cargada</small><br>
  <%else%>

<div class="container" color="blue" position="center">
	
		<%end%>	
			<div class="CSSTableGenerator" >
                <table >
                    <tr>
                        <td>
                        	<strong> </strong><br><br>	                            
                        </td>
                        <td >
                            <strong>Descripcion del Producto    </strong><br><br>
                        </td>                        
                    </tr>
                    <tr>
                        <td >
                            <center><%= image_tag @product.photo.url, size: "280x280" , :class => 'img-rounded' %></center>
                        </td>
                        <td>
                            <% @product.description.split.each do |palabra|%>
				    	<p align="left"><%= palabra %></p></br>
				    <%end%>	
                        </td>                      
                    </tr>                  
                </table>
            </div>				   				   				
	</div>
</div>
<%= button_to 'Volver', {:controller => :products, :action => 'products_home'}, :class => 'btn btn-default' %>
  
  </CENTER>