<% title "Buscar ventas" %>
<h1>Resultado de busqueda</h1>
<%= render "sales_controller/index" %>
<DIV Align=left>
	<%= button_to 'Volver', sales_path, :method => :get, :class => 'btn btn-default' %><br>
</DIV>
