 <footer class="panel-footer">
    <div class="container" align="center">

      <br><br><br><br><br>
      <a href="/historia" class="btn btn-success btn-large"><i class="icon-white icon-heart"></i>Historia</a>
      <a href="/mision" class="btn btn-success btn-large"><i class="icon-white icon-heart"></i>Mision</a>
      <a href="/vision" class="btn btn-success btn-large"><i class="icon-white icon-heart"></i>Vision</a>
      <a href="/confianza" class="btn btn-success btn-large"><i class="icon-white icon-heart"></i>Confianza</a>
      <a href="/proveedores" class="btn btn-success btn-large"><i class="icon-white icon-heart"></i>Proveedores</a>
      <a href="/contact" class="btn btn-success btn-large"><i class="icon-white icon-heart"></i>Contactenos</a>
    </div>  
    <br>	
    <div class="copyright">
  	  Ferreteria Molina - Copyright ©2014.
    </div>
</footer>
