<footer class="footer">
  <small>
    ® Copyright 2014. Todos los derechos reservados.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   about_path %></li>
      <li><%= link_to "Contactos", contact_path %></li>
    </ul>
  </nav>
</footer>