<footer class="panel-footer">
  <div class="container">
       <div class="opcion_footer">
	    	<font color="white"><h2>Quienes somos?</h2></font>
	    	<p><a href="#">Historia</a></p>
	    	<p><a href="#">Mision</a></p>
	    	<p><a href="#">Vision</a></p>
	    	<p><a href="#">Confianza</a></p>
	    	<p><a href="#">Proveedores</a></p>
	    </div>
	    <div class="opcion_footer">
	    	<font color="white"><h2>Servicio Tecnico</h2></font>
	    	<p><a>Mantenimiento predictivo</a></p>
	    	<p><a>Mantenimiento preventivo</a></p>
	    	<p><a>Mantenimiento correctivo</a></p>
	    	<p><a>Cableado de redes</a></p>
	    	<p><a>Asesoramiento especializado</a></p>
	    </div>
	    <div class="opcion_footer">
	    	<font color="white"><h2>Contactenos</h2></font>
	    </div>
  </div>
  <div class="copyright">
  	Elaborado por: <a href="http://www.facebook.com/andres.jordan.zeballos">Andres</a>, <a href="http://www.facebook.com/martinarisperiveros">Martin</a>, <a href="http://www.facebook.com/pattyrosembluth">Patricia</a>, <a href="http://www.facebook.com/oscar.sgc">Oscar </a>Universidad Catolica Bolivia. Copyright ©2014.
  </div>
</footer>

