 <footer class="panel-footer">
  <div class="container">
       <div class="opcion_footer">
	    	<font color="white"><h2>Quienes somos?</h2></font>
	    	<p><a href="/historia">Historia</a></p>
	    	<p><a href="/mision">Mision</a></p>
	    	<p><a href="/vision">Vision</a></p>
	    	<p><a href="/confianza">Confianza</a></p>
	    	<p><a href="/proveedores">Proveedores</a></p>
	    	<p><a href="/contact">Contactenos</a></p>
	    </div>
	    <div class="opcion_footer">
	    	<font color="white"><h2>Servicio Tecnico</h2></font>
	    	<p><a>Mantenimiento predictivo</a></p>
	    	<p><a>Mantenimiento preventivo</a></p>
	    	<p><a>Mantenimiento correctivo</a></p>
	    	<p><a>Cableado de redes</a></p>
	    	<p><a>Asesoramiento especializado</a></p>
	    </div>
	    <div class="opcion_footer">
	    	<font color="white"><h2>Elaborado por:</h2> <a href="http://www.facebook.com/andres.jordan.zeballos">Andres Jordan</a><br/> <a href="http://www.facebook.com/oscar.sgc">Oscar Gonzalez</a><br/> <a href="http://www.facebook.com/martinarisperiveros">Martin Arispe</a><br/> <a href="http://www.facebook.com/pattyrosembluth">Patricia Rosembluth</a><br/> Universidad Catolica Boliviana "San Pablo".
	    	<center><img src="/images/logo_cato.png" width="90"/>
  		</div>
  	</div>
  <div class="copyright">
  	Taller de Sistemas de Informacion - Copyright ©2014.
  </div>
</footer>

