<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container" style="height: 50px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">INFORMATICACOMP</a>
    </div>
    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pagina<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Productos de pagina</li>
                <li><a href="/users/">Añadir producto a pagina</a></li>
                <li><a href="/users/">Lista de productos de pagina</a></li>
                <li class="dropdown-header">Categorias</li>
                <li><a href="#">Crear categoria</a></li>
                <li><a href="#">Lista de categorias</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Almacen<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Productos</li>
                <li><a href="/users/">Registrar producto de pedido</a></li>
                <li><a href="/users/">Lista de productos de pedido</a></li>
                <li><a href="/users/">Stock de productos</a></li>
                <li class="dropdown-header">Marcas</li>
                <li><a href="#">Registrar marca</a></li>
                <li><a href="#">Lista de marcas</a></li>
                <li class="dropdown-header">Proveedores</li>
                <li><a href="/users/">Añadir proveedor</a></li>
                <li><a href="/users/">Lista de proveedores</a></li>
                <li class="dropdown-header">Pedidos</li>
                <li><%= link_to 'Registrar pedido', {:controller => "orders", :action => "create", :numero_pedido => (rand() * 100).to_i, :id => '1', :estado => 'Pendiente', :ingresado =>false, :provider => "Harry"}, :method => "post" %></li>
                <li><a href="#">Lista de pedidos</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/users/new">Registrar venta</a></li>
                <li><a href="/users/">Reporte de ventas</a></li>
                <li><a href="/users/">Todas las ventas</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicio Tecnico<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/users/new">Registrar servicio</a></li>
                <li><a href="/users/">Buscar servicios</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/users/new">Registrar cliente</a></li>
                <li><a href="/users/">Lista de clientes</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/users/new">Crear usuario</a></li>
                <li><a href="/users/">Lista de usuarios</a></li>
              </ul>
            </li>
          </ul>
          <p class="navbar-text navbar-right">
            <% if current_user%>
              <%= link_to "Cerrar sesión", logout_path, :class => "btn btn-xs btn-danger" %>
              <%= link_to "Cambiar Contraseña", {:controller => :users, :action => 'edit', :id => current_user.id}, :class => "btn btn-xs btn-warning"%>
            <% else %>
              <%= link_to "Iniciar sesión", login_path, :class => "btn btn-xs btn-info" %>
            <% end %>
          </p><!--/.nav-collapse -->
    </div>
  </div>
</div>